html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: linear-gradient(yellow, red);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

input {
    border: 1px solid #CCC;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

::-webkit-input-placeholder {
    color: lightgray;
}

select {
    background: #FFF url('down-arrow.png') no-repeat right;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 104%;
    height: 50px;
    line-height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
select{
    color: lightgray;
}
select option :first-child{
    color: lightgray;
}

select:valid {
    background-color: #39b387;
}

input:valid {
    background-color: #39b387;
}

input[type="submit"] {
    background-color: #32906e;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 6px;
    height: 20px;
}